$color-btn-ios: hsl(171, 66%, 44%);
$color-btn-mac: hsl(233, 100%, 69%);
$color-font-primary : hsl(210, 10%, 33%);
$color-font-secondary : hsl(201, 11%, 66%);
$color-footer-bgc : rgb(248, 248, 248);
$font-family-primary : 'Bai Jamjuree', sans-serif;
$font-weights-medium : 400;
$font-weight-semibald : 600;
$font-size-primary: 1.8rem;




